# use glob syntax.
syntax: glob

*.bat
*.elc
*.pyc
*~
*.log
*.zip
*.doctrees
tmp
default.db
media
docs/api/lino_noi.*

*.egg-info
.build
.DS_Store

.idea
.coverage
.coverage.*
.eggs
.cache
